<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-container">
          <ul>
            <li><a href="#">Logo</a></li>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <button class="login-btn">
            <i class="login-icon">⇨</i>
            Login
          </button>
          <button class="burger-menu" aria-label="Toggle menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </nav>
    </header>
    <main>
      <div id="menu">
        <ul>
          <li><a href="#one">Link one</a></li>
          <li><a href="#two">Link two</a></li>
          <li><a href="#three">Link three</a></li>
        </ul>
      </div>
      <div id="content">
        <h1>Welcome</h1>
        <br />
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It
          has roots in a piece of classical Latin literature from 45 BC, making
          it over 2000 years old. Richard McClintock, a Latin professor at
          Hampden-Sydney College in Virginia, looked up one of the more obscure
          Latin words, consectetur, from a Lorem Ipsum passage, and going
          through the cites of the word in classical literature, discovered the
          undoubtable source. Lorem Ipsum comes from sections 1.10.32 and
          1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and
          Evil) by Cicero, written in 45 BC. <br />
          This book is a treatise on the theory of ethics, very popular during
          the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit
          amet..", comes from a line in section 1.10.32. The standard chunk of
          Lorem Ipsum used since the 1500s is reproduced below for those
          interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et
          Malorum" by Cicero are also reproduced in their exact original form,
          accompanied by English versions from the 1914 translation by H.
          Rackham.
        </p>
      </div>
      <div id="menu">
        <ul>
          <li class="ads">Ads 1</li>
          <li class="ads">Ads 2</li>
        </ul>
      </div>
    </main>

    <footer>
      <p>&copy; 2014 Monday Times. All rights reserved.</p>
    </footer>
  </body>
</html>
